* {
  box-sizing:border-box;
   /*border:1px red solid; */
}

body {
  height:100vh;
  width:100%;
  font-family: 'Open Sans', sans-serif;
  display:flex;
  flex-wrap:wrap;
}

/****************** Header ****************/
header {
  align-items: center;
  background-color:#404041;
  display: flex;
  flex-direction: column;
  height:20%;
  justify-content: center;
  padding:25px;
  width:100%;
}

.color {
    background-color: #ccc;
}

.top__header--edition {
  color:#ffffff;
  font-size:1.5em;
  font-weight:300;
  margin-bottom:60px;
}

.top__header {
  color:#dd1972;
  font-size:5em;
  font-weight: 700;
  height:20px;
}

.top__span {
  font-weight: 300;
}


/****************** Main *********************/
main {
  background-color:#f7f7f7;
  display: flex;
  flex-direction: column;
  height:775px;
  justify-content: space-between;
  padding:20px;
  width:50%;

}

.container__headers {
  color:#6e6e6e;
  font-size:1.2em;
  height:20px;
  margin-bottom: 5px;
  margin-top: 0;
  width:30%;
}

.range__container--set {
  background-color:#ffffff;
  border: #d0d0d0 2px solid;
  color:#6e6e6e;
  height:21%;
  padding:10px;
  width:100%;
}

.range__header {
  width:30%;
}

.range__div--parent {
  display:flex;
  flex:1 1; 
  height:40px;
  width:100%;
}
.range__div--first,
.range__div--second {
  width:35%;
}

.range__label { 
  background-color:#ffffff;
  color:#6e6e6e;
  display: block;
  font-size:1em;
  height:20px;
  width:100px;
}

.range__input {
  height:35px;
  width:80%
}

.range__btn--update{
  background-color:#6e6e6e;
  border-radius:25px;
  color:#ffffff;
  font-weight:700;
  height:30px;
  margin-top:20px;
  width:120px;
}



.player__wrapper {
  display:block;
  flex:1;
}

/*** ****/

.player__wrapper--top {
  display: flex;
  flex-direction: column;
  height:20%;
  justify-content: space-between;
}

.player__container--ch {
  background-color:#ffffff;
  border: #d0d0d0 2px solid;
  display: flex;
  flex-direction: column;
  height:48%;
  justify-content: space-between;
  padding:10px;
  width:100%;
}

.player__container--ch h3{
  width:100%;
}

.player__div--guess {
  width:100%;
}

.player__div--name {
  width:100%;
}

.player__header--range {
  color: #6e6e6e;
  font-size: 1.2em;
  font-weight: 300;
  margin:0;
  width: 80%;
}

.player__form--ch {
  display:flex;
  height:10%;
  width:100%;
}

.player__span--range {
  font-weight:700;
  text-decoration: underline;
}

.player__label {
  color: #6e6e6e;
  display: block;
  height:20px;
}

.player__input {
  height:35px;
  width:90%;
}

.player__input--guess { 
  display: block;
  flex:1;
  height:35px;
  width:70%;
}

.player__wrapper--btns {
  align-items: flex-end;
  display:flex;
  height:20%;
  justify-content: space-between;
}

.btn {
  background-color:#6e6e6e;
  border-radius:25px;
  color:#ffffff;
  display:flex;
  flex-wrap:wrap;
  font-weight:700;
  height:33px;
  justify-content:center;
  min-width: 30%;
}

.btn:disabled{
  background-color: #d0d2d3
} 

.latest-score__container {
  background-color:#ffffff;
  border: #d0d0d0 2px solid;
  color: #6e6e6e;
  height:27%;
  padding: 10px;
  width:100%;
}

.latest-score__container h3 {
  margin: 0;
  width: 100%;
}

.latest-score__container article {
  display:inline-flex;
  flex-direction: column;
  padding-top: 5px;
  text-align: center;
  width:49%;
}

.latest-score__article--ch1{
  border-right: 1px solid #6e6e6e;
}

.latest-score__container h4 {
  font-weight:100;
  margin:0;
}

.latest-score__span--guess {
  color:#dd1972;
  display:inline-block;
  font-size: 4.5em;
  font-weight: 700;
  width:100%;
}

.btnEnabled{
  background-color: #6e6e6e;
  border-radius: 25px;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  height: 33px;
  justify-content: center;
  min-width: 30%;
}

/********************** Aside *********************/

aside {
  background-color:#D1D2D4;
  border-left:2px solid #6e6e6e;
  color:#6e6e6e;
  padding:20px 30px;
  width:50%;
}

.card__article--winner {
  background-color:#ffffff;
  border:2px solid #6e6e6e;
  padding:10px;
}

.card__section {
  background-color:#ffffff;
  border:2px solid #6e6e6e;
  margin-top:5px;
  padding:10px;
}

.card__div--ch {
  display:flex;
  font-weight:700;
  justify-content:space-around;
  padding:5px;
}

.card__div--ch p {
  font-weight:100;
  margin:0;
}

.card__div--winner span {
  display: block;
  text-align:center;
}

.card__span--name {
  font-size: 2em;
  font-weight: 700;
}

.card__span--winner {
  font-size:2em;
  font-weight:300;
}

.card__div--bottom {
  display:flex;
  font-weight: 100;
  justify-content: space-between;
  padding:5px;
}

.card__btn--close {
  background-color: #6e6e6e;
  border-radius: 50%;
  color:white;
}

/*#card__section--hidden {
  display:none;
}*/

/* error messages*/

.error-border {
  border:1px solid #DD1972;
}

.range__div--error {
  align-items: center;
  color: #DD1972;
  display: inline-flex;
  font-size:.5em;
  height:20px;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  margin:0;
  width:45%;
}

#ch1__guess--error,
#ch2__guess--error {
  float:right;
}

#range__input--error{
  margin-top: 30px;
}

.hidden {
  display:none;
}

@media screen and (max-width: 875px) {
  main {
    width:100%;
  }

  aside {
    width: 100%;
  }

  .top__header {
    font-size: 4em;
  }

  .top__header--edition {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 600px) {
  main {
    height: 1200px;
  }

  .top__header {
    font-size: 2.2em;
  }

  .top__header--edition {
    font-size: .7em;
  }

  .range__div--parent {
    display: block;
  }

  .range__container--set {
    height: 20%;
  }

  .range__div--first,
  .range__div--second {
    width:100%;
  }

  .range__btn--update {
    width: 100%;
  }

  .range__input {
    width:100%;
  }

  .range__div--first {
    margin-bottom: 20px;
  }

  #range__input--error {
    margin-top: 15px;
    width:100%;
  }

  .container__headers{
    width:100%;
  }

  .player__container--ch {
    height: 45%;
    display: block;
  }

  .player__header--range {
    font-size: .9em;
  }

  .player__form--ch {
    display: block;
  }

  .player__input,
  .player__input--guess {
    margin-bottom: 15px;
    width: 100%;
  }

  .player__wrapper--btns {
    display:block;
    width:100%;
  }
  
  .btn {
    margin: 10px;
    width:95%;
  }

  .latest-score__container {
    height: 30%;
    width:100%;
  }

  .latest-score__container article {
    display: block;
    width:100%;
  }

  .latest-score__article--ch1 {
    border-bottom: 1px solid #6e6e6e
    border-right:0;
  }

  .latest-score__container h3 {
    width:100%;
  }



